/*******beginning of the general stuff of the page********/
* {
margin:0;
padding: 0;
font-family: 'Times New Roman', Times, serif;
}
a{
   /* this is an html comment
   the a referrers to a link, 
   this will end up bring a cpp program
   on its own*/
   text-decoration: none;
   color: inherit;
}
a:active{
    color: rgba(32, 32, 32, 0.589);
}
.text-center{
    text-align: center;
}
body{
    color: rgb(243, 243, 243);
    background-color: rgb(20, 20, 20);
}

/*********end of general*********/




/********beginning of navbar styling*************/
.navbar{
    /*border: red solid 2px;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    /*background-color: rgb(44, 44, 44);*/
    background-image: url(images/Backgrounds/galaxybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar .logo-container{
    flex-grow: 3;
    /*border:green 2px solid;*/
    display: flex;
    justify-content: left;
}
.navbar .nav-items-container{
   /*border: solid blue 2px;*/
   flex-grow: 5;
   display: flex;
   justify-content: flex-end; 
}
.navbar .nav-items-container .nav-item{
    /*border: solid red 2px;*/
    margin: 10px;
}
.navbar .nav-item-conatiner .nav-item:hover{
    color:rgb(197, 197, 197);
}
/********end nav bar********/


/********section container**********/
.section .section-container{
    /*border: red 2px;*/
    display: flex;
    justify-content: center;
    min-width: 80%;
}

.section{
    /*border: green 2px;*/
    background-image: linear-gradient(rgba(0,0,0,0.945), rgba(32, 32, 32, 0.589));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/******end section container*********/

/****start of home section***/
.home-intro-card{
    border: red 2px;
    min-width: 70%;
    height: 40%;
    margin-bottom: 20%;
    display: flex;
    background-color: rgba(228, 235, 238, 0.1);
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 20px;
}
.home-intro-card .image-container{
    flex-grow: 1;
    display: flex;
    /*size: 20%;*/
    justify-content: center;
    align-items: center;
    
}
#headshot{
    width: 200px;
    border-radius: 10px;
}

.home-intro-card .intro-info-container{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-intro-card .intro-info-container .headline{
    font-size: 2.5em;
}
.home-intro-card .intro-info-container .interest{
    font-size: 0.6em;
}
.home-intro-card .intro-info-container .media{
    min-width: 100%;
    padding: 20px;
    display: flex;
    flex: row;
    justify-content: space-around;
}
#headshot:hover{
    box-shadow: 0 0 2px  rgb(134, 135, 136);
}
/***end of home*******/

/***** start of project section****/
.projects-container{
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.projects-container .project{
    border: solid 2px rgb(67, 69, 70);;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    /*justify-content: center;*/
    padding: 5px;
    /*flex-wrap: wrap;*/
}
.projects-container .project .project-header{
    padding:10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-container .project .project-demo{
    background-color: inherit;
    border-radius: 10px;
    padding: 30px;
    flex-grow: 6;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.projects-container .project .project-description{
    padding: 10px;
    flex-grow: 3;
    flex: 4;
}
.code{
    font-size: 30px;
}
#projpic {
    width: 200px;
    border-radius: 10px;
}

