body    {
    background-image: url(images/Backgrounds/galaxybg.jpg)
    /*background-color: maroon;*/
}
h1  {
    text-align: center;
    color:yellowgreen;
    font-family: fantasy;
    font-size: 300%;
}
h2  {
    color:red;
    font-family: fantasy;
    font-size: 300%;
}
h3  {
    color:powderblue;
    font-family: fantasy;
    font-size: 300%;
}
h4  {
    text-align: center;
    color:rgb(48, 49, 51);
    font-family: fantasy;
    font-size: 300%;
}
h6  {
    color:goldenrod;
    font-family: fantasy;
    font-size: 300%;
}
#p1   {
    border: 20px solid rgb(190, 76, 0);
    background-color: rgb(17, 15, 15);
    color: rgb(0, 60, 255);
    font-family: verdana;
    font-size: 200%;
}
#p2  {
    border: 10px solid rgb(228, 212, 212);
    font-family: verdana;
    background-color: rgb(48, 46, 46);
    color: rgb(228, 212, 212);
    font-family: verdana;
    font-size: 200%
}